body {
    background-image: url('../images/portdad.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-position: 0%;
    
  }


.hover a img{
    height: 100px;
    margin-left: 850px;
    margin-top: 500px;
    overflow: hidden;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}

.hover a:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}